In [32]:
import pandas as pd
import os
import csv
import json
import glob

In [33]:
myFiles = glob.glob('*.csv')
print(myFiles)

['BG_METADATA_2018.csv']

In [34]:
bg_meta = pd.read_csv(myFiles[0], header = 0, index_col = False)
bg_meta

      Short Name                                          Full Name
0       B00001e1  UNWEIGHTED SAMPLE COUNT OF THE POPULATION: Tot...
1       B00001m1  UNWEIGHTED SAMPLE COUNT OF THE POPULATION: Tot...
2       B00002e1  UNWEIGHTED SAMPLE HOUSING UNITS: Total: Housin...
3       B00002m1  UNWEIGHTED SAMPLE HOUSING UNITS: Total: Housin...
4       B01001e1  SEX BY AGE: Total: Total Population -- (Estimate)
...          ...                                                ...
53987   B99283m3  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53988   B99283e4  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53989   B99283m4  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53990   B99283e5  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53991   B99283m5  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...

[53992 rows x 2 columns]

In [35]:
bg_meta.reset_index()
bg_meta

      Short Name                                          Full Name
0       B00001e1  UNWEIGHTED SAMPLE COUNT OF THE POPULATION: Tot...
1       B00001m1  UNWEIGHTED SAMPLE COUNT OF THE POPULATION: Tot...
2       B00002e1  UNWEIGHTED SAMPLE HOUSING UNITS: Total: Housin...
3       B00002m1  UNWEIGHTED SAMPLE HOUSING UNITS: Total: Housin...
4       B01001e1  SEX BY AGE: Total: Total Population -- (Estimate)
...          ...                                                ...
53987   B99283m3  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53988   B99283e4  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53989   B99283m4  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53990   B99283e5  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...
53991   B99283m5  ALLOCATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...

[53992 rows x 2 columns]

In [36]:
bg_meta.to_json(os.path.join(os.getcwd(), 'bg_meta.json'), orient = "records")

In [38]:
with open(os.path.join(os.getcwd(), 'bg_meta.json'), 'r') as inp:
    y = inp.read().upper()
with open(os.path.join(os.getcwd(), 'bg_meta2.json'), 'a') as out:
    out.write(y)